.analysis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 0 1rem 3rem 1rem;
  justify-items: center;

  animation: fadeIn 0.25s ease-in;

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
