.home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-primary;
  transition: all ease-in-out 0.2s;
  width: 50rem;
  height: 20rem;
  &__animation {
    width: auto;
    margin-right: 0.5rem;
    svg {
      width: 5rem;
      height: 5rem;
      fill: white;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $color-white;
    text-transform: uppercase;
  }

  &:hover {
    transform: scale(1.05);
  }
}
